.measure-wide {
  max-width: 40em;
}

nav {
  background-color: #137752;
}

.cf {
  color: #262626;
  text-align: justify;
}

h1 {
  color: #0a442e;
} 

a, .nested-links a {
  color: #137752;
}

a:hover, a:focus, .nested-links a:hover, .nested-links a:focus {
  color: #199d6c;
}

.bn:focus, .bn:active {
  border: 2px solid #137752;
  outline: none;
}

input.bn[type='submit'] {
  background-color: #137752;
  cursor: pointer;
}